<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<el-container>
    <el-header>
        <el-row>
            <el-col :span="24">
                <div class="grid-content bg-purple-dark">
                    {% block header %}Header{% endblock %}
                </div>
            </el-col>
        </el-row>
    </el-header>
    <el-main>
        {% block body %}{% endblock %}
    </el-main>
    <el-footer>
        <el-row>
            <el-col :span="24">
                <div class="grid-content bg-purple-dark">
                    {% block footer %}Footer{% endblock %}
                </div>
            </el-col>
        </el-row>
    </el-footer>
</el-container>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>